{% extends "base.html.twig" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% require_style '@acme_demo/css/asset.css' %}
{% require_style '@acme_demo/css/asset3.css' %}
{% require_style '@common_css' %}
{% endblock %}
