{% extends "base.html.twig" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% require_style '@webpack/asset' %}
{% require_style '@webpack/asset_css' %}
{% endblock %}
