{% extends "base_css.html.twig" %}

{% set myvar = "foo: bar" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% inline_style %}
<style>
body {
    background: #e0e0e0;
}
#{{ id }} {
    background: #ff0000;
}
</style>
{% endinline_style %}
{% endblock %}
