{% extends "base_js.html.twig" %}

{% set myvar = "foo: bar" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% endblock %}

{% if true %}
{% inline_script keep_html_tag = false %}
<script type="text/javascript">
console.log("Twig var: {{ myvar }}");
</script>
{% endinline_script %}
{% endif %}
