{% extends "base_js.html.twig" %}

{% set myvar = "foo: bar" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% endblock %}

{% if true %}
{% embed_javascript keep_tag = false %}
<script type="text/javascript">
console.log("Twig var: {{ myvar }}");
</script>
{% endembed_javascript %}
{% endif %}
