<html>
<body>
<div id="myblock">Hello world</div>
<script src="/assets/acemodemo/js/asset.js"></script><script src="/assets/acemodemo/js/asset2.js"></script><script src="/assets/acemodemo/js/locale/asset2.fr.js"></script><script src="/assets/acemodemo/js/asset3.js"></script><script src="/assets/acemodemo/js/locale/asset3.fr-fr.js"></script>
</body>
</html>

