{% extends "base.html.twig" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% require_script '?@acme_demo/js/asset.js' async=true %}
{% require_script '?@acme_demo/js/asset2.js' %}
{% require_script '?@webpack/asset_not_found' %}
{% endblock %}
