{% extends "base.html.twig" %}

{% block body %}
{% set id = 'myblock' %}
<div id="{{ id }}">Hello world</div>
{% require_script '@acme_demo/js/asset.js' %}
{% require_script '@acme_demo/js/asset3.js' %}
{% require_script '@common_js' %}
{% endblock %}
